<div ng-controller="RumiCreate as c">
   <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="views/style.css">
	</head>
<body>
<div class="layout-body">
	<div class="body-form">
	<div class="form-title">RūMI</div>
	<!-- <div ng-hide="c.showInput">
		<form id="form3" ng-hide="c.showInput">
			<div class="form-group">

			<label>What do you want to share?</label>
			<input class="form-control" type="text" placeholder="Item Name" id="" maxlength="80" ng-model="name">

			<label>Description</label>
			<textarea class="description form-control" maxlength="256" ng-model="description"></textarea>
			<label>Who are you sharing it with?</label>
			<input class="form-control" type="text" placeholder="Enter the user's email" id="" ng-model="email">
			</div>
		</form>
		<button id="form3-button" type="button" form="form3" class="btn" ng-click="c.next()">next</button>
	</div> -->
	<!-- <div ng-show="c.showInput" > -->
		<div class="container">
			<h3>Schedule Your Time</h3>
			<form class="form-horizontal clearfix">
				<label for="dateFrom" class="col-sm-2 control-label">FROM</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="dateFrom" ng-model="ev.from">
				</div>
				<label for="dateTo" class="col-sm-2 control-label">TO</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="dateTo" ng-model="ev.to">
				</div>
				<label for="dateTitle" class="col-sm-2 control-label">TITLE</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="dateTitle" ng-model="ev.title" placeholder="your title">
				</div>
				<button type="submit" class="btn btn-primary pull-right" ng-click="c.addEvent()">Create Event</button>
			</form>
			<div class="well calWell">
				<div class="row-fluid">
					<div class="span8">
						<div class="alert alert-success" ng-show="alertMessage != undefined && alertMessage != ''">{{c.alertMessage}}</div>
						<div class="alert alert-info">title: {{ev.title}}, from: {{ev.from}}, to: {{ev.to}}</div>
						<div class="btn-toolbar">
							<p class="pull-right lead">Calendar One View Options</p>
							<div class="btn-group">
								<button class="btn btn-success" ng-class="{active: currentView === 'agendaDay'}" ng-click="c.changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
								<button class="btn btn-success" ng-class="{active: currentView === 'agendaWeek'}" ng-click="c.changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
								<button class="btn btn-success" ng-class="{active: currentView === 'month'}" ng-click="c.changeView('month', 'myCalendar1')">Month</button>
							</div>
						</div>
						<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
		
	<!-- <div ng-if="c.fullRumi">
		{{c.otherUserName}}
		
		<img src="{{c.otherUserImage}}" style="width:30px;height:30px;" />

		<button ng-click="c.create()">Create Rūmi</button>
	</div>  -->
</div>