<div ng-controller="RumiProfile as c" ng-init="c.getRumis()">
  Profile
  {{ c.greeting }}
 <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="layout-body">
	<div class="body-form">
  <input type="file" file-model="myFile" />
  <button ng-click="c.uploadFile()">upload me</button>
  {{c.userInfo.image}}
  <img src="views/user-image.jpg" style="width:30px;height:30px;" />

  <div ng-init="c.getRumis()">
    <div>
      <div ng-repeat="rumi in c.myRumis">
        rumi
        <!-- <a ng-hide="c.showInput" ng-click="c.showBook(book[0])"> {{book[0]}}</a> -->
      </div>
    </div>
  </div>

  <button ng-click="c.createRumi()">
     <img src="views/add_button.png" style="width:30px;height:30px;" /> 
  </button>
  </div>
</div>