<div ng-controller="RumiProfile as c" ng-init="c.getRumis()">
 <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="layout-body">
	<div class="body-form">
  <input
  <input type="file" file-model="myFile" ng-model="file" name="file"/>
  <button class="btn btn-default" ng-click="c.uploadFile()">upload me</button>
  {{c.userInfo.image}}
  <img class="form-profile_image" src="views/user-image.jpg" />
   <div ng-init="c.getRumis()">
    <div>
      <div ng-repeat="rumi in c.myRumis">
      <div class="rumi-info">
        <img src="{{rumi.image}}" />
        <div class="rumi-description"><p>{{rumi.description}}</p></div>
      </div>
      </div>
    </div>
  </div> 

  <button class="add_rumi btn btn-default" ng-click="c.createRumi()">
     <img src="add_button.png" style="width:30px;height:30px;" /> 
  </button>
  </div>
</div>