<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
<body>
<div class="layout-body">
	<div class="body-form">
	<div class="form-title">RuMI</div>
	<div class="body-sharedobject">
			<div class="sharedobject-image"><img src="driveway1.jpeg"></div>
			<div class="sharedobject-information">
				<div class="sharedobject-title"><h3>Shared Driveway</h3></div>
				<div class="sharedobject-description"><h4>Shared Driveway, 2000 S Carrolton</h4></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="body-sharedobject">
			<div class="sharedobject-image"><img src="driveway2.jpeg"></div>
			<div class="sharedobject-information">
				<div class="sharedobject-title"><h3>Shared Driveway</h3></div>
				<div class="sharedobject-description"><h4>Shared Driveway, 2000 S Carrolton</h4></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="body-sharedobject">
			<div class="sharedobject-image"><img src="driveway3.jpg"></div>
			<div class="sharedobject-information">
				<div class="sharedobject-title"><h3>Shared Driveway</h3></div>
				<div class="sharedobject-description"><h4>Shared Driveway, 2000 S Carrolton</h4></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
	 <button id="form3-button" type="submit" form="form3" class="btn btn-default btn-lg btn-block">next</button>
</div>
</div>
</div>
</div>